/* your beautiful css styling goes here! */
.board {
  background-color: lightblue;
}

.player {
  content: url("spaceship.png");
  height: 64px;
  width: auto;
  position: absolute;
}
/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

